.title {
    font-size: 2em;
}

.box {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
}

#red {
    background: #D84231;
}

#orange {
    background: #EAAE33;
    margin-left: 30px;
}

#yellow {
    background: #FCF733;
    margin-left: 60px;
}

#green {
    background: #578C05;
    margin-left: 90px;
}

#blue {
    background: #234AFB;
    margin-left: 120px;
}

#pink {
    background: #DF8BF0;
    margin-left: 150px;
}