#jumbo {
    background: url('../img/pizza.png') center / cover no-repeat;
    padding: 3em 0;
}

#jumbo > h1 {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    line-height: 2em;
}
