/* A very broad stylesheet to darken up a page. */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html,body { background-color: #242424; color: #F4F4F4; font-family: Roboto; }
h1,h2,h3,h4,h5,h6 { font-family: Roboto Condensed; }
a,hr { color: #2196F3; }
