/*Mobile First*/

.one-half,
.one-third,
.two-thirds,
.one-fourth,
.one-eighth,
.three-eighths {
    width: 100%;
    background: lightgrey;
    border: 1px solid black;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {

    .col {
        float: left;
    }

    .row {
        margin: 32px auto;
    }

    .row:after {
        content: '';
        display: table;
        clear: both;
    }

    .one-half {
        width: 50%;
    }

    .one-third {
        width: 33.33%;
    }

    .two-thirds {
        width: 66.66%;
    }

    .one-fourth {
        width: 25%;
    }

    .one-eighth {
        width: 12.5%;
    }

    .three-eighths {
        width: 37.5%;
    }

    .offset-one-sixteenth {
        margin-left: 6.25%;
    }
}