.jumbotron {
    background: url('../img/pizza.jpeg') center / cover no-repeat;
}

.jumbotron > h1 {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    /* font-size: 48pt; */
    line-height: .7em;
    padding: .7em 0;
}
