@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');

html, body {
    background-color: #282C34;
    /*background: repeat;*/
    /*background-image: url('../img/bg_tile_dark.png');*/
    color: #ABB2BF;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rajdhani", sans-serif;
    color: #61AFEF;
    /*text-decoration: underline;*/
}

table, th, td {
    border: 1px solid #5C6370;
}

table {
    width: 33%;
    margin: 0 auto;
}

td {
    font-size: 0.8em;
    padding: 1em;
}

ul, ol {
    text-align: left;
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
}

ul {
    list-style: none;
}

ul > li:before {
    content: '>';
    padding-right: 8px;
}

img {
    width: 300px;
}

a:link {
    color: #61AFEF;
}

a:visited, hr {
    color: #61AFEF;
}

a:hover {
    color: #ABB2BF;
}

a:active {
    color: #FFF;
}

.fancy-header {
    /*text-align: inherit;*/
    color: #61AFEF;
}

.panel {
    padding: 0.5em;
    width: 33%;
    margin: 1em auto;
    border-top: 1px #61AFEF solid;
    border-bottom: 1px #61AFEF solid;
}
